html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-message {
  padding: 5px 10px;
  background: brown;
}