html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  padding-top: 60px;
}

body > header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}


.menu-header {
  margin: 0;
  background: #ccc;
  height: 60px;
  width: 100%;
  display: flex;
  list-style: none;
}

.menu-header li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 50px;
}

.menu-header li a:hover {
  background: #ddd;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.login-page .login-box h2 {
  text-align: center;
}

.login-box {
  border-radius: 5px;
  background: #eee;
  padding: 10px 30px;
}

.login-box .form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.login-box .form-item label {
  width: 100%;
  font-size: .8rem;
}

.login-box .form-item input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #999;
}

.login-box .form-item .radio-item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: .8rem;
}

.login-box .form-item .radio-item label {
  flex-grow: 1;
}

.login-box .form-item input {
  width: initial;
  margin: 0 5px 0 0;
  height: 25px;
}

.login-box .form-item .submit {
  background: rgb(33, 116, 211);
  border: none;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.login-box .form-item .input-file {
  background: rgb(33, 116, 211);
  border-radius: 5px;
  height: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-box .form-item .input-file label {
  cursor: pointer;
}

.login-box .form-item .input-file:hover {
  background: rgb(71, 139, 218);
}

.login-box .form-item .input-file input {
  visibility: hidden;
  width: 0;
  z-index: -1;
}