<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá <%= user.name %></h1>


    <script>
      console.log('APARECEEEEEUUU!!!')
    </script>

  </body>
</html>
