<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <link rel='stylesheet' href='/stylesheets/myTodoList.css' />
  </head>
  <body>

    <div class="todo-box">
      <ol>
      </ol>
    </div>

    <script src="/javascripts/todoList.js"></script>

  </body>
</html>
